Repository FreeTubeApp/FreeTube, pull requests merged in 2022-08, with the labels that each got.

#2437 Update README.md
  README.md
Labels: PR: waiting for review

#2438 Update PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: PR: waiting for review

#2452 Drastically improve loading speed of the settings page
  src/renderer/components/general-settings/general-settings.js
Labels: PR: waiting for review

#2457 Fix channel page ID handling
  src/renderer/components/top-nav/top-nav.js
  src/renderer/store/modules/utils.js
  src/renderer/views/Channel/Channel.js
Labels: PR: waiting for review

#2075 External player choice 'None' translated in Settings
  src/renderer/components/external-player-settings/external-player-settings.js
  src/renderer/store/modules/utils.js
  static/external-player-map.json
  static/locales/en-US.yaml
  static/locales/es.yaml
Labels: PR: waiting for review

#2469 Temporarily switch over to my fork of ytdl-core
  package.json
  yarn.lock
Labels: PR: dependencies, PR: waiting for review

#2466 Update all GH workflow to used `ubuntu-latest`
  .github/workflows/build.yml
  .github/workflows/linter.yml
Labels: PR: waiting for review

#2407 Stop electron-builder trying to create GitHub releases in CI workflow
  _scripts/build.js
Labels: PR: waiting for review

#1788 Add Git Hooks to run lint
  lefthook.yml
  package.json
  yarn.lock
Labels: PR: waiting for review

#2472 Update lefthook to latest version
  package.json
  yarn.lock
Labels: PR: waiting for review

#2483 Mapping the Invidious API field to the view
  src/renderer/views/Channel/Channel.js
Labels: PR: waiting for review

#2451 fix unsubscribe from "All Channels" profile
  src/renderer/views/Channel/Channel.js
Labels: PR: waiting for review

#2402 add playlist progress bar
  src/renderer/components/watch-video-playlist/watch-video-playlist.css
  src/renderer/components/watch-video-playlist/watch-video-playlist.vue
Labels: PR: waiting for review

#2486 Fix Cmd+M unable to minimize window when viewing video
  src/renderer/components/ft-video-player/ft-video-player.js
Labels: OS: macos

#2484 Fix playlist page sizing and layout
  src/renderer/views/Playlist/Playlist.css
Labels: PR: waiting for review

#2475 Add support for bold, italics and strikethrough formatting in comments
  src/renderer/components/watch-video-comments/watch-video-comments.js
Labels: PR: waiting for review

#2493 Eliminating a race condition with SponsorBlock markers
  src/renderer/components/ft-video-player/ft-video-player.js
  src/renderer/views/Watch/Watch.vue
Labels: PR: waiting for review

#2504 Removing an empty toast
  src/renderer/components/ft-video-player/ft-video-player.js
Labels: PR: waiting for review

#2448 Upgrade electron from 16 > 20
  .babelrc
  package.json
  yarn.lock
Labels: PR: dependencies, electron being electron, PR: waiting for review

#2510 Switch back to upstream ytdl-core now that it has been updated
  package.json
  yarn.lock
Labels: PR: dependencies, PR: waiting for review

#2427 Update top nav search input to open new window on shift click/enter
  src/renderer/components/ft-input/ft-input.js
  src/renderer/components/top-nav/top-nav.js
Labels: PR: waiting for review
