Repository FreeTubeApp/FreeTube, pull requests merged in 2022-06, with the labels that each got.

#2280 Even spacing on top-nav
  src/renderer/components/ft-profile-selector/ft-profile-selector.css
  src/renderer/components/top-nav/top-nav.sass
Labels: PR: waiting for review

#2279 Clean up ft-input for top-nav
  src/renderer/components/ft-input/ft-input.css
  src/renderer/components/ft-input/ft-input.js
  src/renderer/components/ft-input/ft-input.vue
Labels: PR: waiting for review

#2271 Improve system locale selection
  src/renderer/store/modules/settings.js
Labels: PR: waiting for review

#2284 Remove usage of fixed positioning for core UI elements
  src/renderer/App.css
  src/renderer/App.vue
  src/renderer/components/side-nav/side-nav.css
  src/renderer/components/top-nav/top-nav.js
  src/renderer/components/top-nav/top-nav.sass
  src/renderer/components/top-nav/top-nav.vue
  src/renderer/themes.css
  src/renderer/views/Watch/Watch.sass
Labels: PR: waiting for review

#1783 Fix: Update thumbnail url and channel name for subscriptions when change detected
  src/renderer/store/modules/profiles.js
  src/renderer/views/Channel/Channel.js
  src/renderer/views/Playlist/Playlist.js
  src/renderer/views/Watch/Watch.js
Labels: PR: waiting for review

#2283 Allow Unsubscribing from Deleted Channels
  src/renderer/store/modules/subscriptions.js
  src/renderer/views/Channel/Channel.js
  src/renderer/views/Channel/Channel.vue
  src/renderer/views/Subscriptions/Subscriptions.css
  src/renderer/views/Subscriptions/Subscriptions.js
  src/renderer/views/Subscriptions/Subscriptions.vue
  static/locales/en-US.yaml
Labels: PR: waiting for review

#2287 Fix ft-input bug padding
  src/renderer/components/ft-input/ft-input.css
Labels: PR: waiting for review

#2281 Playlist page improvements
  src/renderer/components/ft-list-video/ft-list-video.sass
  src/renderer/components/playlist-info/playlist-info.sass
  src/renderer/components/playlist-info/playlist-info.vue
  src/renderer/views/Playlist/Playlist.css
  src/renderer/views/Playlist/Playlist.vue
Labels: PR: waiting for review

#2288 Fix channel banner padding
  src/renderer/views/Channel/Channel.css
  src/renderer/views/Channel/Channel.vue
Labels: PR: waiting for review

#2298 Remove the material-design-icons dependency
  package.json
  src/renderer/main.js
  yarn.lock
Labels: PR: dependencies, PR: waiting for review

#2315 Fix the YouTube GDPR cookie not being sent along with requests
  src/main/index.js
Labels: PR: waiting for review

#2316 Fix the YouTube GDPR cookie not being sent along with requests
  src/main/index.js
Labels: PR: waiting for review

#2318 Fix: screenshot forbidden chars on Windows
  src/renderer/store/modules/utils.js
Labels: PR: waiting for review

#2319 Fix: screenshot forbidden chars on Windows
  src/renderer/store/modules/utils.js
Labels: PR: waiting for review

#2325 Utils+Everywhere: Add a start offset tolerance for the external player
  src/renderer/components/ft-list-video/ft-list-video.js
  src/renderer/components/watch-video-info/watch-video-info.js
  src/renderer/store/modules/utils.js
Labels: PR: waiting for review

#2321 Fix: loop button
  src/renderer/components/ft-video-player/ft-video-player.js
Labels: PR: waiting for review

#2313 Fix: loop button
  src/renderer/components/ft-video-player/ft-video-player.js
Labels: PR: waiting for review

#2326 Utils+Everywhere: Add a start offset tolerance for the external player
  src/renderer/components/ft-list-video/ft-list-video.js
  src/renderer/components/watch-video-info/watch-video-info.js
  src/renderer/store/modules/utils.js
Labels: PR: waiting for review

#2337 Allow the lint workflow to run on the v0.17.0-RC branch
  .github/workflows/linter.yml
Labels: PR: waiting for review

#2327 Fix emojis displaying incorrectly
  src/renderer/App.css
  src/renderer/components/watch-video-description/watch-video-description.css
  src/renderer/videoJS.css
  src/renderer/views/Channel/Channel.css
Labels: PR: waiting for review

#2329 Fix the theming of the share menu logos for the system, black and dracula themes
  src/renderer/components/ft-share-button/ft-share-button.sass
Labels: PR: waiting for review

#2335 ^ Update marked
  package.json
  yarn.lock
Labels: PR: dependencies, PR: waiting for review

#2334 Remove the unneeded fast-glob and node-abi dev dependencies
  package.json
  yarn.lock
Labels: PR: dependencies, PR: waiting for review

#2330 Fix the theming of the share menu logos for the system, black and dracula themes
  src/renderer/components/ft-share-button/ft-share-button.sass
Labels: PR: waiting for review

#2289 Fix confusing zoomin shortcut
  src/main/index.js
Labels: PR: changes requested

#2328 Fix emojis displaying incorrectly
  src/renderer/App.css
  src/renderer/components/watch-video-description/watch-video-description.css
  src/renderer/videoJS.css
  src/renderer/views/Channel/Channel.css
Labels: PR: waiting for review

#2310 Fix download filename problems
  src/renderer/store/modules/utils.js
Labels: PR: waiting for review

#2292 Fix channel names being cut off
  src/renderer/components/ft-channel-bubble/ft-channel-bubble.css
Labels: PR: waiting for review

#2286 Fix the redundant navigation error
  src/renderer/router/index.js
Labels: PR: waiting for review

#2305 Update electron-builder version to ^23.0.2
  package.json
  yarn.lock
Labels: PR: dependencies, PR: waiting for review

#2306 * Update app menu to add item for new window
  src/main/index.js
  static/locales/en-US.yaml
Labels: PR: waiting for review

#2345 Fix removing the meta files when navigating to a new video
  src/renderer/views/Watch/Watch.js
Labels: PR: waiting for review

#2342 Make installation method and API method mandatory in bug issue template
  .github/ISSUE_TEMPLATE/bug_report.yaml
Labels: PR: waiting for review

#1456 Add Parental Controls
  src/renderer/components/distraction-settings/distraction-settings.js
  src/renderer/components/distraction-settings/distraction-settings.vue
  src/renderer/components/ft-age-restricted/ft-age-restricted.js
  src/renderer/components/ft-age-restricted/ft-age-restricted.sass
  src/renderer/components/ft-age-restricted/ft-age-restricted.vue
  src/renderer/components/ft-list-lazy-wrapper/ft-list-lazy-wrapper.js
  src/renderer/components/ft-list-lazy-wrapper/ft-list-lazy-wrapper.vue
  src/renderer/components/ft-list-video/ft-list-video.js
  src/renderer/components/parental-control-settings/parental-control-settings.js
  src/renderer/components/parental-control-settings/parental-control-settings.sass
  src/renderer/components/parental-control-settings/parental-control-settings.vue
  src/renderer/components/playlist-info/playlist-info.js
  src/renderer/components/playlist-info/playlist-info.vue
  src/renderer/components/top-nav/top-nav.js
  src/renderer/components/top-nav/top-nav.vue
  src/renderer/components/watch-video-info/watch-video-info.js
  src/renderer/components/watch-video-info/watch-video-info.vue
  src/renderer/store/modules/settings.js
  src/renderer/views/Channel/Channel.js
  src/renderer/views/Channel/Channel.vue
  src/renderer/views/Search/Search.js
  src/renderer/views/Settings/Settings.js
  src/renderer/views/Settings/Settings.vue
  src/renderer/views/Subscriptions/Subscriptions.js
  src/renderer/views/Watch/Watch.js
  src/renderer/views/Watch/Watch.sass
  src/renderer/views/Watch/Watch.vue
  static/locales/en-US.yaml
Labels: PR: waiting for review

#2350 Clear filter when clicked "Clear input" [0.17RC]
  src/renderer/components/ft-input/ft-input.js
  src/renderer/views/History/History.vue
  src/renderer/views/UserPlaylists/UserPlaylists.vue
Labels: PR: waiting for review

#2349 Clear filter when clicked "Clear input"
  src/renderer/components/ft-input/ft-input.js
  src/renderer/views/History/History.vue
  src/renderer/views/UserPlaylists/UserPlaylists.vue
Labels: PR: waiting for review

#2355 Fix right clicking on links being treated as link clicks
  src/renderer/App.js
Labels: PR: waiting for review

#2356 Fix right clicking on links being treated as link clicks
  src/renderer/App.js
Labels: PR: waiting for review
