Repository FreeTubeApp/FreeTube, pull requests merged in 2022-05, with the labels that each got.

#2227 Hide Picture in Picture button and disable keyboard shortcut for audio formats
  src/renderer/components/ft-video-player/ft-video-player.js
  src/renderer/views/Watch/Watch.js
Labels: PR: waiting for review

#2212 Update electron to 16.2.5
  package.json
  yarn.lock
Labels: PR: dependencies, PR: waiting for review

#2229 Update marked to 4.0.14 and ytsr to 3.8.0
  package.json
  yarn.lock
Labels: PR: dependencies, PR: waiting for review

#1898 * Update all GH workflow config to update node 14.x > 16.x
  .github/workflows/build.yml
  .github/workflows/linter.yml
  .github/workflows/release.yml
Labels: PR: dependencies, PR: waiting for review

#2182 Bump Babel to latest version and update Babel targets
  .babelrc
  package.json
  yarn.lock
Labels: PR: dependencies, PR: waiting for review

#1800 System theme preference
  src/constants.js
  src/datastores/handlers/base.js
  src/index.ejs
  src/main/index.js
  src/renderer/App.js
  src/renderer/App.vue
  src/renderer/components/theme-settings/theme-settings.js
  src/renderer/store/modules/settings.js
  src/renderer/themes.css
  static/locales/en-US.yaml
  static/locales/en_GB.yaml
Labels: PR: waiting for review

#2215 channel fix (banner, playlist)
  src/renderer/views/Channel/Channel.js
Labels: PR: waiting for review

#2108 Prevent search input reset from overwriting clipboard on Linux
  src/renderer/components/ft-input/ft-input.js
Labels: PR: waiting for review

#2199 Fix #1774 - Dropdown doesn't match theme in dark mode
  src/renderer/components/ft-list-dropdown/ft-list-dropdown.css
  src/renderer/themes.css
Labels: PR: waiting for review

#2238 Update electron to 16.2.6
  package.json
  yarn.lock
Labels: PR: dependencies, PR: waiting for review

#1918 Update build script to build ARM64 version on Apple Silicon machines
  _scripts/build.js
Labels: PR: waiting for review, OS: macos

#2236 Update invidious-instances.json
  static/invidious-instances.json
Labels: PR: waiting for review

#1819 Feat: Channel Member Icons + Load Custom Channel Emojis in Comments
  package.json
  src/renderer/components/watch-video-comments/watch-video-comments.css
  src/renderer/components/watch-video-comments/watch-video-comments.js
  src/renderer/components/watch-video-comments/watch-video-comments.vue
  static/locales/en-US.yaml
  yarn.lock
Labels: PR: waiting for review

#2253 Fix the stats for nerds modal hogging all the keyboard events
  src/renderer/components/ft-video-player/ft-video-player.js
Labels: PR: waiting for review

#2239 Add support for next/previous/pause/resume global hotkeys/actions
  src/renderer/components/ft-video-player/ft-video-player.js
  src/renderer/components/watch-video-playlist/watch-video-playlist.js
Labels: PR: waiting for review

#2247 Fix: csv import/export
  src/renderer/components/data-settings/data-settings.js
Labels: PR: waiting for review

#2252 Update electron to 16.2.7
  package.json
  yarn.lock
Labels: PR: dependencies, PR: waiting for review

#2259 Fix: wrong info displayed when quickly navigate from a channel to another
  src/renderer/views/Channel/Channel.js
Labels: PR: waiting for review

#2267 Fix typo
  src/renderer/main.js
Labels: PR: waiting for review

#2268 Fix caption baseurl
  src/renderer/views/Watch/Watch.js
Labels: PR: waiting for review

#1849 Feat: SponsorBlock improvements
  src/renderer/components/ft-sponsor-block-category/ft-sponsor-block-category.js
  src/renderer/components/ft-sponsor-block-category/ft-sponsor-block-category.sass
  src/renderer/components/ft-sponsor-block-category/ft-sponsor-block-category.vue
  src/renderer/components/ft-video-player/ft-video-player.js
  src/renderer/components/sponsor-block-settings/sponsor-block-settings.js
  src/renderer/components/sponsor-block-settings/sponsor-block-settings.vue
  src/renderer/components/theme-settings/theme-settings.js
  src/renderer/store/modules/settings.js
  src/renderer/store/modules/utils.js
  static/locales/en-US.yaml
Labels: PR: waiting for review

#2210 Browser extension warning
  README.md
Labels: PR: waiting for review

#2257 Update issue templates
  .github/ISSUE_TEMPLATE/bug_report.yaml
  .github/ISSUE_TEMPLATE/feature_request.yaml
Labels: PR: waiting for review

#2143 add winget package manager to readme
  README.md
Labels: PR: waiting for review

#1748 * Implement divider for video "more dropdown menu"
  _scripts/dev-runner.js
  src/renderer/components/ft-icon-button/ft-icon-button.js
  src/renderer/components/ft-icon-button/ft-icon-button.sass
  src/renderer/components/ft-icon-button/ft-icon-button.vue
  src/renderer/components/ft-list-video/ft-list-video.js
  src/renderer/components/ft-list-video/ft-list-video.vue
  src/renderer/components/watch-video-info/watch-video-info.js
  src/renderer/components/watch-video-info/watch-video-info.vue
Labels: PR: waiting for review

#2083 Fix handling of youtube link middle mouse click
  src/main/index.js
  src/renderer/App.js
Labels: PR: waiting for review

#2276 Use the built-in subtle crypto library instead of node-forge
  package.json
  src/renderer/store/modules/sponsorblock.js
  yarn.lock
Labels: PR: dependencies, PR: waiting for review

#2244 Format playlist dates with the selected locale
  package.json
  src/renderer/store/modules/ytdl.js
  src/renderer/views/Playlist/Playlist.js
  yarn.lock
Labels: PR: waiting for review

#2275 update yt-channel-info
  package.json
  yarn.lock
Labels: PR: waiting for review
