Repository FreeTubeApp/FreeTube, pull requests merged in 2022-09, with the labels that each got.

#2522 Update yt-trending-scraper to 3.1.0
  package.json
  src/renderer/views/Search/Search.js
  src/renderer/views/Trending/Trending.js
  yarn.lock
Labels: PR: dependencies, PR: waiting for review

#2525 ^ Update electron 20.x
  package.json
  yarn.lock
Labels: PR: dependencies, PR: waiting for review

#2523 Update yt-comment-scraper to 6.2.0
  package.json
  yarn.lock
Labels: PR: dependencies, PR: waiting for review

#2527 update yt-channel-info
  package.json
  yarn.lock
Labels: PR: dependencies, PR: waiting for review

#2528 Only generate the web assets directory during web builds
  _scripts/webpack.main.config.js
  _scripts/webpack.renderer.config.js
  _scripts/webpack.web.config.js
  _scripts/webpack.workers.config.js
Labels: PR: waiting for review

#2532 Compress images
  .github/workflows/calibreapp-image-actions.yml
  _icons/.icon-set/iconColor_256.png
  _icons/.icon-set/icon_128x128.png
  _icons/.icon-set/icon_16x16.png
  _icons/.icon-set/icon_32x32.png
  _icons/.icon-set/icon_48x48.png
  _icons/.icon-set/icon_64x64.png
  _icons/256x256.png
  _icons/iconBlackSmall.png
  _icons/iconCatppuccinMochaDarkSmall.png
  _icons/iconCatppuccinMochaLightSmall.png
  _icons/iconColor.png
  _icons/iconColorSmall.png
  _icons/iconDraculaDarkSmall.png
  _icons/iconDraculaLightSmall.png
  _icons/logoColor.png
  _icons/textCatppuccinMochaDarkSmall.png
  _icons/textCatppuccinMochaLightSmall.png
  _icons/textColor.png
  _icons/textColorSmall.png
  _icons/textDraculaDarkSmall.png
  _icons/textDraculaLightSmall.png
  _icons/textWhite.png
Labels: PR: waiting for review

#2533 Fix broken url
  README.md
Labels: PR: waiting for review

#2534 Update webpack
  package.json
  yarn.lock
Labels: PR: dependencies, PR: waiting for review

#2536 Update babel and specify exact node version target
  .babelrc
  package.json
  yarn.lock
Labels: PR: dependencies, PR: waiting for review

#2501 Display time remaining until video goes live
  src/renderer/views/Watch/Watch.js
  src/renderer/views/Watch/Watch.vue
  static/locales/en-US.yaml
Labels: PR: waiting for review

#2542 Update ytdl-core to 4.11.2
  package.json
  yarn.lock
Labels: PR: dependencies, PR: waiting for review

#2541 Update copy-webpack-plugin dependency to 11.0.0
  package.json
  yarn.lock
Labels: PR: dependencies, PR: waiting for review

#2511 Webpack bundle dependencies
  _scripts/build.js
  _scripts/webpack.main.config.js
  _scripts/webpack.renderer.config.js
  src/renderer/components/ft-channel-bubble/ft-channel-bubble.vue
  src/renderer/components/ft-icon-button/ft-icon-button.js
  src/renderer/components/ft-input/ft-input.js
  src/renderer/components/ft-input/ft-input.vue
  src/renderer/components/ft-list-dropdown/ft-list-dropdown.vue
  src/renderer/components/ft-list-playlist/ft-list-playlist.vue
  src/renderer/components/ft-list-video/ft-list-video.vue
  src/renderer/components/ft-notification-banner/ft-notification-banner.vue
  src/renderer/components/ft-profile-selector/ft-profile-selector.vue
  src/renderer/components/ft-select/ft-select.vue
  src/renderer/components/ft-share-button/ft-share-button.vue
  src/renderer/components/ft-tooltip/ft-tooltip.vue
  src/renderer/components/side-nav-more-options/side-nav-more-options.vue
  src/renderer/components/side-nav/side-nav.vue
  src/renderer/components/top-nav/top-nav.vue
  src/renderer/components/watch-video-comments/watch-video-comments.vue
  src/renderer/components/watch-video-info/watch-video-info.vue
  src/renderer/components/watch-video-live-chat/watch-video-live-chat.vue
  src/renderer/components/watch-video-playlist/watch-video-playlist.vue
  src/renderer/main.js
  src/renderer/views/About/About.js
  src/renderer/views/Channel/Channel.vue
  src/renderer/views/Popular/Popular.vue
  src/renderer/views/Search/Search.vue
  src/renderer/views/Subscriptions/Subscriptions.vue
  src/renderer/views/Trending/Trending.vue
  src/renderer/views/Watch/Watch.vue
Labels: PR: waiting for review

#2113 Add linux armv7l and win/osx arm64 builds
  .github/workflows/build.yml
  .github/workflows/release.yml
  _scripts/build.js
Labels: PR: waiting for review

#2546 update electron-builder
  package.json
  yarn.lock
Labels: PR: dependencies

#2535 Localization inconsistency fix for Local API
  src/renderer/views/Watch/Watch.js
Labels: PR: waiting for review

#2556 Increase width of quality selector so that 1080p60 doesn't overflow into the full screen button
  src/renderer/components/ft-video-player/ft-video-player.js
Labels: PR: waiting for review

#2558 Build and release 7zip artifacts
  .github/workflows/build.yml
  .github/workflows/release.yml
  _scripts/build.js
Labels: PR: waiting for review

#2553 Add Scoop to readme, issue template and label workflow
  .github/ISSUE_TEMPLATE/bug_report.yaml
  .github/workflows/autoLabelIssue.yaml
  README.md
Labels: PR: waiting for review

#2555 Don't log any errors if there are no SponsorBlock segments
  src/renderer/store/modules/sponsorblock.js
Labels: PR: waiting for review

#2456 Use some rich format to improve README.md readability
  README.md
Labels: PR: waiting for review

#2568 Update sass and sass-loader to the latest versions
  package.json
  yarn.lock
Labels: PR: dependencies, PR: waiting for review

#2565 Update auto-label-issue GH workflow config to use multiline
  .github/workflows/autoLabelIssue.yaml
Labels: PR: waiting for review

#2560 Remove unneeded electron-builder-squirrel-windows dependency
  package.json
  yarn.lock
Labels: PR: waiting for review

#2563 Remove unused ft-intersection-observer component
  src/renderer/components/ft-intersection-observer/ft-intersection-observer.js
  src/renderer/components/ft-intersection-observer/ft-intersection-observer.vue
Labels: PR: waiting for review

#2566 Update css-loader and switch to webpack 5's asset modules
  _scripts/webpack.main.config.js
  _scripts/webpack.renderer.config.js
  _scripts/webpack.web.config.js
  package.json
  src/renderer/components/ft-share-button/ft-share-button.sass
  src/renderer/themes.css
  src/renderer/views/About/About.vue
  yarn.lock
Labels: PR: dependencies, PR: waiting for review

#2562 Create super-linter.yml
  .github/workflows/super-linter.yml
Labels: PR: waiting for review

#2569 Optimise CSS and JSON files
  _scripts/webpack.main.config.js
  _scripts/webpack.renderer.config.js
  _scripts/webpack.web.config.js
  package.json
  yarn.lock
Labels: PR: dependencies

#2567 #2512: Update search suggestions on input
  src/renderer/components/ft-input/ft-input.js
Labels: PR: waiting for review

#2576 Remove node-loader as we don't have any binary/native node modules
  _scripts/webpack.main.config.js
  _scripts/webpack.renderer.config.js
  _scripts/webpack.workers.config.js
  package.json
  yarn.lock
Labels: PR: dependencies, PR: waiting for review

#2574 Electron variable at build time instead of at runtime
  _scripts/webpack.renderer.config.js
  _scripts/webpack.web.config.js
  src/datastores/handlers/index.js
  src/index.ejs
  src/renderer/App.js
  src/renderer/components/ft-video-player/ft-video-player.js
  src/renderer/components/general-settings/general-settings.js
  src/renderer/components/top-nav/top-nav.js
  src/renderer/components/watch-video-live-chat/watch-video-live-chat.js
  src/renderer/components/watch-video-playlist/watch-video-playlist.js
  src/renderer/main.js
  src/renderer/store/modules/settings.js
  src/renderer/store/modules/utils.js
  src/renderer/views/Channel/Channel.js
  src/renderer/views/Settings/Settings.js
  src/renderer/views/Subscriptions/Subscriptions.js
  src/renderer/views/Trending/Trending.js
  src/renderer/views/Watch/Watch.js
Labels: PR: waiting for review

#2577 ^ Update electron 20.x
  package.json
  yarn.lock
Labels: PR: dependencies, PR: waiting for review

#2554 update vue2 to latest
  package.json
  src/renderer/components/ft-profile-filter-channels-list/ft-profile-filter-channels-list.css
  src/renderer/components/general-settings/general-settings.sass
  src/renderer/components/watch-video-info/watch-video-info.sass
  yarn.lock
Labels: PR: dependencies, PR: waiting for review

#2582 Fix some web issues and cleanup
  src/renderer/components/watch-video-playlist/watch-video-playlist.js
  src/renderer/views/Channel/Channel.js
  src/renderer/views/Settings/Settings.vue
  src/renderer/views/Trending/Trending.js
  src/renderer/views/Watch/Watch.js
Labels: PR: waiting for review

#2586 Fixing an undefined function reference
  src/renderer/store/modules/utils.js
Labels: PR: waiting for review

#2592 Add MPR to Unofficial Downloads
  .github/ISSUE_TEMPLATE/bug_report.yaml
  .github/workflows/autoLabelIssue.yaml
  README.md
Labels: PR: waiting for review

#2557 Properly localize numbers
  src/renderer/components/ft-list-channel/ft-list-channel.js
  src/renderer/components/ft-list-video/ft-list-video.js
  src/renderer/components/playlist-info/playlist-info.js
  src/renderer/components/watch-video-info/watch-video-info.js
  src/renderer/views/Channel/Channel.js
  src/renderer/views/Watch/Watch.js
Labels: PR: waiting for review

#2572 Fix the localised description containing broken URLs
  src/renderer/views/Watch/Watch.js
Labels: PR: waiting for review

#2585 Fully replace electron-debug with our own implementation
  _scripts/webpack.main.config.js
  package.json
  src/main/index.js
  yarn.lock
Labels: PR: dependencies, PR: waiting for review

#2495 Implement last window's fullscreen state
  src/main/index.js
Labels: PR: waiting for review

#2588 Set height of watch page grid with auto in dual-column-template
  src/renderer/views/Watch/Watch.sass
Labels: PR: waiting for review

#2602 Implementing download media when IS_ELECTRON is false
  src/renderer/store/modules/utils.js
Labels: PR: waiting for review

#2601 Fixing issue with visibleDataList holding onto stale data
  src/renderer/components/ft-input/ft-input.js
Labels: PR: waiting for review

#2597 Cleaning up calls to the Clipboard API
  src/renderer/components/data-settings/data-settings.js
  src/renderer/components/ft-list-video/ft-list-video.js
  src/renderer/components/ft-share-button/ft-share-button.js
  src/renderer/components/playlist-info/playlist-info.js
  src/renderer/components/watch-video-comments/watch-video-comments.js
  src/renderer/components/watch-video-playlist/watch-video-playlist.js
  src/renderer/store/modules/utils.js
  src/renderer/views/Channel/Channel.js
  src/renderer/views/Search/Search.js
  src/renderer/views/Subscriptions/Subscriptions.js
  src/renderer/views/Trending/Trending.js
  src/renderer/views/Watch/Watch.js
  static/locales/en-US.yaml
Labels: PR: waiting for review

#2591 Replace jquery getJSON and get with native fetch
  src/renderer/App.js
  src/renderer/components/proxy-settings/proxy-settings.js
  src/renderer/store/modules/invidious.js
  src/renderer/store/modules/sponsorblock.js
  src/renderer/views/Watch/Watch.js
Labels: PR: waiting for review

#2559 Improve premiere timestamp to be easier to read
  src/renderer/views/Watch/Watch.js
Labels: PR: waiting for review

#2027 Feature/new window right click
  src/main/index.js
  src/renderer/components/side-nav/side-nav.css
  src/renderer/components/side-nav/side-nav.js
  src/renderer/components/side-nav/side-nav.vue
  src/renderer/components/watch-video-info/watch-video-info.sass
  src/renderer/components/watch-video-info/watch-video-info.vue
Labels: PR: waiting for review

#2606 Remove console.logs
  .eslintrc.js
  src/main/index.js
  src/renderer/App.js
  src/renderer/components/data-settings/data-settings.js
  src/renderer/components/ft-list-dropdown/ft-list-dropdown.js
  src/renderer/components/ft-list-video/ft-list-video.js
  src/renderer/components/ft-profile-edit/ft-profile-edit.js
  src/renderer/components/ft-video-player/ft-video-player.js
  src/renderer/components/general-settings/general-settings.js
  src/renderer/components/playlist-info/playlist-info.js
  src/renderer/components/top-nav/top-nav.js
  src/renderer/components/watch-video-comments/watch-video-comments.js
  src/renderer/components/watch-video-info/watch-video-info.js
  src/renderer/components/watch-video-live-chat/watch-video-live-chat.js
  src/renderer/components/watch-video-playlist/watch-video-playlist.js
  src/renderer/i18n/index.js
  src/renderer/store/modules/invidious.js
  src/renderer/store/modules/utils.js
  src/renderer/store/modules/ytdl.js
  src/renderer/views/Channel/Channel.js
  src/renderer/views/Playlist/Playlist.js
  src/renderer/views/Popular/Popular.js
  src/renderer/views/ProfileSettings/ProfileSettings.js
  src/renderer/views/Search/Search.js
  src/renderer/views/Subscriptions/Subscriptions.js
  src/renderer/views/Trending/Trending.js
  src/renderer/views/Watch/Watch.js
  static/pwabuilder-sw.js
Labels: PR: waiting for review

#2608 Implementing showOpenDialog's web callback
  src/renderer/components/data-settings/data-settings.js
  src/renderer/components/data-settings/data-settings.vue
  src/renderer/store/modules/utils.js
Labels: PR: waiting for review

#2603 Compress and lazy load locales
  _scripts/ProcessLocalesPlugin.js
  _scripts/webpack.main.config.js
  _scripts/webpack.renderer.config.js
  _scripts/webpack.web.config.js
  package.json
  src/renderer/components/ft-video-player/ft-video-player.js
  src/renderer/components/general-settings/general-settings.js
  src/renderer/i18n/index.js
  src/renderer/store/modules/settings.js
  src/renderer/views/SubscribedChannels/SubscribedChannels.js
  static/locales/activeLocales.json
Labels: PR: waiting for review

#2610 Use Intl.RelativeTimeFormat() for premiere upcoming time left
  src/renderer/views/Watch/Watch.js
  src/renderer/views/Watch/Watch.vue
  static/locales/en-US.yaml
Labels: PR: waiting for review

#2613 Replace jquery $.param with native URLSearchParams
  src/renderer/store/modules/invidious.js
Labels: PR: waiting for review

#2612 Use native addEventListener instead of jquery's .on
  src/renderer/App.js
  src/renderer/components/ft-video-player/ft-video-player.js
Labels: PR: waiting for review

#2620 Replace jquery in top-nav component
  src/renderer/components/top-nav/top-nav.js
  src/renderer/components/top-nav/top-nav.vue
Labels: PR: waiting for review

#2605 Fix some development code not getting optimised out
  src/index.ejs
  src/renderer/App.js
  src/renderer/components/external-player-settings/external-player-settings.js
  src/renderer/components/general-settings/general-settings.js
  src/renderer/components/watch-video-comments/watch-video-comments.js
  src/renderer/store/modules/invidious.js
  src/renderer/store/modules/settings.js
  src/renderer/store/modules/utils.js
  src/renderer/views/Watch/Watch.js
Labels: PR: waiting for review

#2623 Remove explicitly disabling CORS. issue is fixed upstream
  src/main/index.js
Labels: PR: waiting for review

#2621 Small build config cleanup
  _scripts/build.js
Labels: PR: waiting for review

#2614 Fix empty description box showing for the Invidious API
  src/renderer/components/watch-video-description/watch-video-description.js
  src/renderer/components/watch-video-description/watch-video-description.vue
Labels: PR: waiting for review

#2624 update pull request template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: PR: waiting for review

#2611 Improve styling of premiere date box
  src/renderer/views/Watch/Watch.sass
  src/renderer/views/Watch/Watch.vue
Labels: PR: waiting for review

#2617 Replace jquery in ft-icon-button with vue functionality
  src/renderer/components/ft-icon-button/ft-icon-button.js
  src/renderer/components/ft-icon-button/ft-icon-button.sass
  src/renderer/components/ft-icon-button/ft-icon-button.vue
  src/renderer/components/ft-share-button/ft-share-button.js
Labels: PR: waiting for review

#2626 Fixing issue with instance list not falling back
  src/renderer/store/modules/invidious.js
Labels: PR: waiting for review

#2633 Fix broken urdu language
  static/locales/ur.yaml
Labels: PR: waiting for review

#2635 Fix package.json getting embedded in the release builds
  src/renderer/App.js
  src/renderer/views/About/About.js
Labels: PR: waiting for review

#2638 Hiding "Disable smooth scroll" option in web
  src/renderer/components/theme-settings/theme-settings.js
  src/renderer/components/theme-settings/theme-settings.vue
Labels: PR: waiting for review

#2636 Create video player buttons without jquery
  src/renderer/components/ft-video-player/ft-video-player.js
Labels: PR: waiting for review

#2224 Implement chapters
  src/renderer/components/distraction-settings/distraction-settings.js
  src/renderer/components/distraction-settings/distraction-settings.vue
  src/renderer/components/ft-video-player/ft-video-player.css
  src/renderer/components/ft-video-player/ft-video-player.js
  src/renderer/components/watch-video-chapters/watch-video-chapters.css
  src/renderer/components/watch-video-chapters/watch-video-chapters.js
  src/renderer/components/watch-video-chapters/watch-video-chapters.vue
  src/renderer/main.js
  src/renderer/store/modules/settings.js
  src/renderer/views/Watch/Watch.js
  src/renderer/views/Watch/Watch.vue
  static/locales/en-US.yaml
Labels: PR: waiting for review

#2637 Update search in new window function to also copy original query text to new window search input
  src/main/index.js
  src/renderer/App.js
  src/renderer/components/ft-input/ft-input.js
  src/renderer/components/top-nav/top-nav.js
Labels: PR: waiting for review

#2639 Only download fitting lefthook binary instead of all of them
  package.json
  yarn.lock
Labels: PR: dependencies, PR: waiting for review

#2632 Add setting to disable automatic fetching of subscription feed
  src/renderer/components/subscription-settings/subscription-settings.js
  src/renderer/components/subscription-settings/subscription-settings.vue
  src/renderer/store/modules/settings.js
  src/renderer/views/Subscriptions/Subscriptions.js
  src/renderer/views/Subscriptions/Subscriptions.vue
  static/locales/en-US.yaml
Labels: PR: waiting for review

#2640 Create dependabot.yml
  .github/dependabot.yml
Labels: PR: waiting for review
